/* line 2, ../assets/sass/test.sass */
body div {
  color: blue; }

/* line 5, ../assets/sass/test.sass */
a {
  color: blue; }
  /* line 7, ../assets/sass/test.sass */
  a:hover {
    color: white; }
