<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@adampash">
  <meta name="twitter:creator" content="@adampash">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 25 }}">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/blog.css">

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24867262-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <div class="container">
    <div id="sidebar" class="col-md-4" data-spy="affix">
      <h1 class="col-xs-12 col-md-9">
        <a href="/">
          {{ site.name }}
        </a>
      </h1>
      <h2 class="about col-xs-1  col-md-4">
        <a href="/about">About</a>
      </h2>
    </div>
    <div class="col-md-4">

    </div>
    <div id="main" class="col-md-6">
      {{ content }}
    </div>
  </div>


  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/posts.js"></script>
</body>
</html>
