---
layout: default
---

<div class="post">
  <h2>
    <a href="{{ post.url }}">
      {{ page.title }}
    </a>
  </h2>

  <div class="entry_body">
    {{ content }}
  </div>
  <div class="meta">
      <div class="date">
        <a href="{{ post.url }}">
          {{ page.date | date: "%B %e, %Y" }}
        </a>
      </div>
      <br />
      <div class="date">
        Got feedback? Send an email to [first.last] at gmail.com or tweet <a href="https://twitter.com/adampash">@adampash</a>.
      </div>
  </div>
</div>

<!-- <script> -->
<!--   (function() { -->
<!--     $.ajax( -->
<!--       { -->
<!--         url: 'http://analytic.adampash.com', -->
<!--         type: 'PUT', -->
<!--         data: {url: window.location.href} -->
<!--       } -->
<!--     ).done(function(data) { -->
<!--       console.log(data); -->
<!--     }); -->
<!--   }).call(this); -->
<!-- </script> -->
